body {
    margin: 0%;
    padding: 0;
    font-family: "Roboto", sans-serif;
    background-color: #232323;
    color: #e7e7e7;
    display:flex;
    align-content: center;
    justify-content: center;
  }
  #bodyHolder{

    width: 350px;

  }
  #vynd{
    margin-bottom: 0;
  }
  #design{
    margin-top: 0;
    color:#d6ffdb;
    padding-left: 20px;
}
  #cardHolder{
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background: #1e1e1e;
    border-radius: 35px;
    padding: 20px;
    flex-direction: column;
  }
  .card{
    width: 300px;
    height: 200px;
    border-radius: 20px;
    display: flex;
    margin: 10px;
    justify-content: space-between;
    align-items: center;
  }

  .cardImage{
    margin:5px;
    width: 135px;
    height: 95%;
    background: #5c5c5c;
    border-radius: 20px;
  }
  .cardBody{
    display: flex;
    width: 60%;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
  }
  .cardTitle{
    display:flex;
  }

  .cardTitle> h3{
padding-left: 10%;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 47px;
color:#5c5c5c;
  }
  .cardText{
    display: flex;
    padding-left: 10%;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
color:#5c5c5c;
  }

  .cardApps{
    background: linear-gradient(0deg, rgba(89, 34, 34, 0.35) 0%, rgba(0, 0, 0, 0) 100%), linear-gradient(148.01deg, rgba(251, 56, 255, 0.35) 22.93%, rgba(255, 0, 0, 0.35) 30.7%, rgba(224, 60, 60, 0.00933333) 53.91%), #FFB6B6;
    border: 3px solid #C78B8B;
    border-radius: 20px;  
    transition: background 0.5s;
}
  .cardApps:hover{
    background: linear-gradient(148.01deg, rgba(0, 26, 255, 0.35) 22.93%, rgba(51, 250, 250, 0.35) 37.3%, rgba(133, 255, 114, 0.217) 45.16%, rgba(255, 255, 255, 0.00933333) 51.67%, rgba(255, 255, 255, 0.00933333) 66.04%), #FFFFFF;
    border: 3px solid #575757;
    border-radius: 20px;

    
  }

  .cardStart{
    background: linear-gradient(0deg, rgba(48, 48, 48, 0.35) 0%, rgba(0, 0, 0, 0) 100%), linear-gradient(148.01deg, rgba(0, 178, 255, 0.35) 22.93%, rgba(0, 26, 255, 0.35) 30.7%, rgba(60, 76, 224, 0.00933333) 53.91%), #B1B0CC;
    border: 3px solid #758BFF;
    border-radius: 20px;
    transition: background 0.5s;
  }
  .cardStart:hover{
    background: linear-gradient(148.01deg, rgba(0, 26, 255, 0.35) 22.93%, rgba(51, 250, 250, 0.35) 37.3%, rgba(133, 255, 114, 0.217) 45.16%, rgba(255, 255, 255, 0.00933333) 51.67%, rgba(255, 255, 255, 0.00933333) 66.04%), #FFFFFF;
    border: 3px solid #575757;
    border-radius: 20px;

    
  }
  .cardMP{
    background: linear-gradient(0deg, rgba(48, 48, 48, 0.35) 0%, rgba(0, 0, 0, 0) 100%), linear-gradient(148.01deg, rgba(255, 61, 0, 0.35) 22.93%, rgba(250, 255, 0, 0.35) 30.7%, rgba(224, 198, 60, 0.00933333) 53.91%), #FFFDC2;
    border: 3px solid #FFF8B7;
    border-radius: 20px;    transition: background 0.5s;
  }
  .cardMP:hover{
    background: linear-gradient(148.01deg, rgba(0, 26, 255, 0.35) 22.93%, rgba(51, 250, 250, 0.35) 37.3%, rgba(133, 255, 114, 0.217) 45.16%, rgba(255, 255, 255, 0.00933333) 51.67%, rgba(255, 255, 255, 0.00933333) 66.04%), #FFFFFF;
    border: 3px solid #575757;
    border-radius: 20px;

    
  }
  a:hover,a:link, a:visited{
    text-decoration: none;
    color: inherit;
  }
  a{
    color: inherit;
  }
  .iApps {
    background: ;
  }
  .iGaming {
    background: ;
  }
  .iStart {
    background: ;
  }
  