body {
  margin: 0px;
  padding: 0px;
  background: #212121;
  color: whitesmoke;
  font-family: "Roboto", sans-serif;
}
.tiles {
  margin: 10px;
  display: inline-block;
  width: auto;
  padding: 7px;
  padding-top: 0px;
  padding-bottom: 0px;
  border-radius: 15px;
  background: #3c3c3c;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.tidle > h1 {
  margin: 0;
}
.card-box {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
.card-lane {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
}

.card {
  background-color: #3c3c3c;
  padding: 30px;
  margin: 10px;
  width: 300px;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card > h2 {
  margin: 0px;
}
.card > h3 {
  color: #9e9e9e;
}

.card > input {
  width: 100%;
  height: 25px;
  border-radius: 30px;
  display: inline-block;
  background-color: #c4c4c4;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-weight: 600;
color: #3c3c3c;
}
.neu {
  background-color: #3d3d3d;
}
.card-out {
  background-color: #e6e6e6;
  color: #3d3d3d;
  padding: 30px;
  margin: 10px;
  width: 300px;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.pos {
  background-color: #d4ffac;
}
.neg {
  background-color: #ffbdac;
}
input[type=submit]{
  margin-top: 20px;
  background-color: #ffffff;
  font-weight: 600;
  color: #3c3c3c;
  padding: 5px;
  
}
.card-out > h2 {
  margin: 0px;
}
.card-out > h3 {
  color: #686868;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

#clrpContainer{
  display: flex; padding: 10px; flex-wrap:wrap;
}
.clrp{
  width: 60px;
  height: 60px;
  margin: 10px;
  border-radius: 10px;
}

/* RPS */
.rpsRow{
  display:flex;
  align-items: space-between;
  justify-content: space-around;
}
.rpsORow{
  display:flex;
  align-items: space-between;
  justify-content: space-around;
}
.rpsOP{
  width: 60px;
  height: 60px;
  background:#c4c4c4;
  margin: 5px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #212121;
  font-weight: 700;
  font-size: 0.7rem;
}
.rpsG{
  background-color: #d4ffac;
}
.rpsR{
  background-color: #ffbdac;
}
.rpsY{
  background-color:rgb(255, 245, 196);

}